{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Gestion et relation Client</h1>
        <hr class="my-4">
    </div>
<div class="container">
    <div class="col-md-6">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Adresse</th>
            <th scope="col">tel</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for c in clients %}
            <tr>
                <td>{{c.nom}}</td>
                <td>{{c.prenom}}</td>
                <td>{{c.adresse}}</td>
                <td>{{c.tel}}</td>
                <td>
                    <a href="" class="fa fa-eye btn btn-sm" title="show details "> Voir</a>
                    <a href="{{ path('client_edit', {'id': c.id })}}" class="fa fa-edit btn btn-sm" title="Editer le client "> Editer</a>
                    <form onsubmit="return confirm('Voulez-vous supprimer {{c.nom  ~ '  ' ~ c.prenom }}  ? ')" method="post" action="{{ path('client_delete', {'id': c.id } )}}" style="display:inline-block;">
                        <input  type="hidden" method name="_method" value="DELETE" />
                        <input  type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id )}}" />
                        <button type="submit" class="fa fa-remove btn btn-sm btn-danger"> Supprimer<button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}